<div id="<%= dom_id bewley_project %>">
  <p>
    <strong>Title:</strong>
    <%= bewley_project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= bewley_project.description %>
  </p>

</div>
