<h1>Editing bewley project</h1>

<%= render "form", bewley_project: @bewley_project %>

<br>

<div>
  <%= link_to "Show this bewley project", @bewley_project %> |
  <%= link_to "Back to bewley projects", bewley_projects_path %>
</div>
